<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plant.site.dao.LoginUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.plant.site.model.LoginUserInfo">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_login_device" jdbcType="VARCHAR" property="lastLoginDevice" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="token_exp" jdbcType="INTEGER" property="tokenExp" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
  </resultMap>
  <insert id="insert" parameterType="com.plant.site.model.LoginUserInfo">
    insert into t_user (user_id, user_name, pass_word, 
      sex, email, phone, 
      del_flag, last_login_time, last_login_device, 
      user_type, salt, last_login_ip, 
      token, token_exp, enable, 
      update_date, create_date, open_id
      )
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=TINYINT}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{lastLoginDevice,jdbcType=VARCHAR}, 
      #{userType,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{lastLoginIp,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{tokenExp,jdbcType=INTEGER}, #{enable,jdbcType=TINYINT}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, #{openId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.plant.site.model.LoginUserInfo">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="passWord != null">
        pass_word,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="lastLoginDevice != null">
        last_login_device,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="lastLoginIp != null">
        last_login_ip,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="tokenExp != null">
        token_exp,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="openId != null">
        open_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginDevice != null">
        #{lastLoginDevice,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginIp != null">
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokenExp != null">
        #{tokenExp,jdbcType=INTEGER},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>





</mapper>